[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mysqldb = "*"
pyjwt = "*"
pydantic-settings = "*"

[dev-packages]

[requires]
python_version = "3.10"
